:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

button {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
  color: blue;
}
